@tailwind base;
@tailwind components;
@tailwind utilities;

.none-scroll::-webkit-scrollbar {
  display: none;
}

.none-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
