@tailwind base;
@tailwind components;
@tailwind utilities;

.none-scroll::-webkit-scrollbar {
  display: none;
}

.none-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.underline-kanji {
  position: relative;
  display: inline-block;
}

.underline-kanji::after {
  content: "";
  position: absolute;
  bottom: -5px; /* Adjust as needed to position the underline */
  left: 0;
  width: 100%;
  height: 10px; /* Adjust according to the image's height */
  background-image: url("../public/underline.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}
